<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyDxnoily8MtyE_EbrCrOatA0u0yOjf9yk4",
        authDomain: "netpulse-9e137.firebaseapp.com",
        databaseURL: "https://netpulse-9e137-default-rtdb.firebaseio.com",
        projectId: "netpulse-9e137",
        storageBucket: "netpulse-9e137.appspot.com",
        messagingSenderId: "855387244557",
        appId: "1:855387244557:web:ab3e1ccfbabebcc07d2d44"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<div class="container" style="display: none">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="text-contant">
                <form class="center" method="post" th:action="@{/netpulse/registrarspo2}">
                    <div class="row" id="aquiagregar">
                        <h2 class="row" style="color: #002752">Monitoreo %SpO2</h2>
                        <input class="form-control" style="display: none" type="text" id="valorSP" name="valorSP">
                        <input class="form-control" style="display: none" type="text" id="valorID" name="valorID">
                        <input class="form-control" style="display: none" type="text" id="vengoDE" name="vengoDE">
                        <input class="form-control" style="display: none" type="text" id="IDOximetro" name="IDOximetro" th:value="${IDOximetro}">
                    </div>
                    <h2 id="flag" style="display:none">0</h2>
                    <h2 id="usuarioFirebase" style="display:none" th:text="${usuarioFirebase}"></h2>
                    <button type="submit" style="display:none" id="registrar">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<div style="float-displace: auto">
    <select id="valorspo2-lista" style="display: none">
        <option th:each="spo2:${listaMediciones}"
                th:text="${spo2.getFechamedicion()}"
                th:value="${spo2.getValorspo2()}">
        </option>
    </select>
    <select id="dias-lista">
        <option value="default">Elige tu opción</option>
        <option th:each="dia:${listaDias}"
                th:text="${dia}"
                th:value="${dia}">
        </option>
    </select>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script>
    let myChart;

    $("#dias-lista").change(function (){
        var ctx = document.getElementById('myChart').getContext('2d');
        var diaelegido=document.getElementById("dias-lista").value;
        console.log(diaelegido);
        if(diaelegido!="default") {
            var listaMediciones = document.getElementById("valorspo2-lista");
            console.log(listaMediciones.length);
            var dataSPO2 = [];
            var dataFecha = [];
            var cont = 0;
            for (var i = 0; i < listaMediciones.length; i++) {
                if (listaMediciones[i].text.split(" ")[0] == diaelegido) {
                    dataFecha[cont] = listaMediciones[i].text.split(" ")[1].split(".")[0];
                    dataSPO2[cont] = listaMediciones[i].value;
                    cont++;
                }
            }
            if (myChart) {
                myChart.destroy();
            }
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dataFecha,
                    datasets: [{
                        label: '%SpO2',
                        data: dataSPO2,
                        tension: 0.3,
                        backgroundColor: [
                            'rgb(50,151,196,1)',
                        ],
                        borderColor: [
                            'rgba(61,182,198,0.95)',
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        y: {}
                    }
                }
            });
        }
        else {

            if (myChart) {
                myChart.destroy();
            }
        }
    });

</script>
<script>
    var usuarioFire = 0;
    usuarioFire = document.getElementById("usuarioFirebase").innerText;
    var lecturaSPO2 = firebase.database().ref('Pulsioximetro/' + usuarioFire);
    let data = 0;
    lecturaSPO2.on('value', (snapshot) => {
        let dataanterior = data;
        data = snapshot.val();
        if(document.getElementById("flag").innerHTML === "2"){
            let x = 0;
            for (x in dataanterior){
                if(dataanterior[x].spo2 != data[x].spo2){
                    console.log("Es diferente en id: ");
                    console.log(x);
                    break;
                }
            }
            document.getElementById("valorSP").value = data[x].spo2;
            document.getElementById("valorID").value = x;
            document.getElementById("vengoDE").value = 20;
            document.getElementById("registrar").click();
        }else{
            document.getElementById("flag").innerHTML = "2";
        }
    });
</script>
</body>
</html>