<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title)">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- Site Metas -->
  <title th:text="${title}"></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Site Icons -->
  <link rel="shortcut icon" href="/images/fevicon.ico.png" type="images/x-icon" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <!-- Site CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- Colors CSS -->
  <link rel="stylesheet" th:href="@{/css/colors.css}">
  <!-- ALL VERSION CSS -->
  <link rel="stylesheet" th:href="@{/css/versions.css}">
  <!-- Responsive CSS -->
  <link rel="stylesheet" th:href="@{/css/responsive.css}">
  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <link rel="stylesheet" type="text/css" href="/css/styleBPM.css" id="style">
  <script th:src="@{/js/main.js}"></script>
  <!-- Modernizer for Portfolio -->
  <script th:src="@{/js/modernizer.js}"></script>
  <!-- [if lt IE 9] -->
</head>

<body>

  <div class="header-top wow fadeIn" th:fragment="navbar">
    <!-- end copyrights -->
    <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- all js files -->
    <script th:src="@{/js/all.js}"></script>
    <!-- all plugins -->
    <script th:src="@{/js/custom.js}"></script>
    <!-- LOADER -->
    <div id="preloader">
      <img class="preloader" src="/images/loaders/heart-loading2.gif" alt="">
    </div>
    <div class="container">
      <a class="navbar-brand" th:href="@{/netpulse}"><img src="/images/netpulselogo.png" alt=#></a>
      <div class="right-header">
        <div class="header-info">
          <div class="info-inner">
            <span class="icontop"><img src="/images/phone-icon.png" alt="#"></span>
            <span class="iconcont"><a href="tel:800 123 456">996774777</a></span>
          </div>
          <div class="info-inner">
            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <span class="iconcont"><a data-scroll href="mailto:netpulse@gmail.com">netpulse@gmail.com</a></span>
          </div>
          <div class="info-inner">
            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span class="iconcont"><a data-scroll href="#">L-V: 7:00am - 4:00pm</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom wow fadeIn" th:fragment="navbar2">
    <div class="container">
      <nav class="main-menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="active" th:href="@{/netpulse}">Home</a></li>
            <li><a data-scroll th:href="@{'/netpulse#about'}">About us</a></li>
            <li><a data-scroll th:href="@{'/netpulse#service'}">Services</a></li>
            <li><a data-scroll th:href="@{'/netpulse#price'}">Price</a></li>
            <li><a data-scroll th:href="@{'/netpulse#testimonials'}">Testimonials</a></li>
            <li><a data-scroll th:href="@{'/netpulse#getintouch'}">Contact</a></li>
            <li><a data-scroll th:href="@{/netpulse/monitoreospo2}">SPO2 </a></li>
            <li sec:authorize="isAnonymous()"><a data-scroll th:href="@{/login}">Inicio Sesion</a></li>
            <li sec:authorize="isAuthenticated()"><a>Cerrar sesion
              <form style="opacity: 0" th:action="@{/logout}" method="post">
              <button style="height: 50px;position: absolute;transform: translateY(-40px)" type="submit" >Cerrar Sesión</button>
            </form></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</body>
<script>
  document.getElementById("btn").onclick=true;
  function logout() {
    console.log("hola");
  }
</script>
</html>