<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/indexfragment.html :: header( title = 'Monitoreo SpO2')"></head>
<style>
  :root {
    /* Variables for both color schemes */
    --transition-duration: 0.2s;
    --border-radius-small: 6px;
    --border-radius-medium: 10px;
    --border-radius-large: 15px;
  }

  :root {
    --page-background: #fcfcfc;
    --page-color: #ddd;
    --text-color-muted: #000000;
    --graph-background: transparent;
    --graph-color: #1198c1;
    --backdrop-background: rgba(10, 4, 4, 0.95);
    --nav-item-background: #fdfafa;
  }
</style>
<body class="clinic_version">
<!-- END LOADER -->
<header>
  <div th:replace="fragments/indexfragment.html :: navbar"></div>
  <div th:replace="fragments/indexfragment.html :: navbar2"></div>
</header>

<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyDxnoily8MtyE_EbrCrOatA0u0yOjf9yk4",
    authDomain: "netpulse-9e137.firebaseapp.com",
    databaseURL: "https://netpulse-9e137-default-rtdb.firebaseio.com",
    projectId: "netpulse-9e137",
    storageBucket: "netpulse-9e137.appspot.com",
    messagingSenderId: "855387244557",
    appId: "1:855387244557:web:ab3e1ccfbabebcc07d2d44"
  };
  firebase.initializeApp(firebaseConfig);
</script>
<script>
  var lecturaSPO2 = firebase.database().ref('Pulsioximetro/' + 'id');
  let data = 0;
  lecturaSPO2.on('value', (snapshot) => {
    let dataanterior = data;
    data = snapshot.val();
    let i = 0;
    for (i in data) {
      document.getElementById("display" + i).style.display = 'inline-block';
      document.getElementById("valor" + i + "spo2").value = data[i].spo2;
    }
    if(document.getElementById("flag").innerHTML === "2"){
      let x = 0;
      for (x in dataanterior){
        if(dataanterior[x].spo2 != data[x].spo2){
          console.log("Es diferente en id: ");
          console.log(x);
          break;
        }
      }
      document.getElementById("valorSP").value = data[x].spo2;
      document.getElementById("valorID").value = x;
      document.getElementById("registrar").click();
    }else{
      document.getElementById("flag").innerHTML = "2";
    }
    /*document.getElementById("valorSP").innerHTML = data;
    document.getElementById("valorSP").value = data;
    document.getElementById("valor1spo2").value = data;
    if(document.getElementById("flag").innerHTML === "2"){
      console.log("AHORA SI");
      document.getElementById("registrar").click();
    }else{
      document.getElementById("flag").innerHTML = "2";
    }*/
  });
</script>

<header>
  <div class="header-top wow fadeIn">
    <div class="container">
      <a class="navbar-brand" th:href="@{/netpulse/}"><img src="/images/netpulselogo.png" alt=#></a>
      <div class="right-header">
        <div class="header-info">
          <div class="info-inner">
            <span class="icontop"><img src="/images/phone-icon.png" alt="#"></span>
            <span class="iconcont"><a href="tel:800 123 456">800 123 456</a></span>
          </div>
          <div class="info-inner">
            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">info@Lifecare.com</a></span>
          </div>
          <div class="info-inner">
            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span class="iconcont"><a data-scroll href="#">Daily: 7:00am - 8:00pm</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom wow fadeIn">
    <div class="container">
      <nav class="main-menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a data-scroll="" th:href="@{/netpulse}">Home</a></li>
            <li><a class="active" data-scroll th:href="@{/netpulse/monitoreospo2}">SPO2 </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<div id="home" class="parallax first-section wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-contant">
          <h1 style="font-size: xxx-large" th:text="${session.usuarioLogueado.nombre}"></h1>
          <form class="center" method="post" th:action="@{/netpulse/registrarspo2}">
              <div class="row" id="aquiagregar">
                <h2 class="row" style="color: #002752">Monitoreo %SpO2</h2>
                <input class="form-control" style="display: none" type="text" id="valorSP" name="valorSP">
                <input class="form-control" style="display: none" type="text" id="valorID" name="valorID">
              </div>
              <h2 id="flag" style="display:none">0</h2>
              <button type="submit" style="display:none" id="registrar">Registrar</button>
          </form>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>

  <!-- end container -->
  <div class="container" align="center">
    <div class="row" >
        <div class="bpm-display-container" id="display1" style="display: none">
          <div class="bpm-display">
            <output id="valor1spo2" class="bpm-value" title="Heart rate">00</output>
            <label style="transform: translateY(-60px)">%SpO2</label>
            <p style="transform: translateY(-30px)"><b style="color: black;font-size: 20px" th:text="${Paciente1}"></b></p>
            <a style="transform: translateY(-30px)" th:href="@{/netpulse/grafico}" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Detalles del paciente</a>

          </div>
        </div>
        <div class="bpm-display-container" id="display2" style="display: none">
          <div class="bpm-display">
            <output id="valor2spo2" class="bpm-value" title="Heart rate">00</output>
            <label style="transform: translateY(-60px)">%SpO2</label>
            <p style="transform: translateY(-30px)"><b style="color: black;font-size: 20px" th:text="${Paciente2}"></b></p>
            <a style="transform: translateY(-30px)" th:href="@{/netpulse/grafico}" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Detalles del paciente</a>

          </div>
        </div>
      <div class="bpm-display-container" id="display3" style="display: none">
        <div class="bpm-display">
          <output id="valor3spo2" class="bpm-value" title="Heart rate">00</output>
          <label style="transform: translateY(-60px)">%SpO2</label>
          <p style="transform: translateY(-30px)"><b style="color: black;font-size: 20px" th:text="${Paciente3}"></b></p>
          <a style="transform: translateY(-30px)" th:href="@{/netpulse/grafico}" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Detalles del paciente</a>

        </div>
      </div>
      <div class="bpm-display-container" id="display4" style="display: none">
        <div class="bpm-display">
          <output id="valor4spo2" class="bpm-value" title="Heart rate">00</output>
          <label style="transform: translateY(-60px)">%SpO2</label>
          <p style="transform: translateY(-30px)"><b style="color: black;font-size: 20px" th:text="${Paciente4}"></b></p>
          <a style="transform: translateY(-30px)" th:href="@{/netpulse/grafico}" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Detalles del paciente</a>

        </div>
      </div>
      <div class="bpm-display-container" id="display5" style="display: none">
        <div class="bpm-display">
          <output id="valor5spo2" class="bpm-value" title="Heart rate">00</output>
          <label style="transform: translateY(-60px)">%SpO2</label>
          <p style="transform: translateY(-30px)"><b style="color: black;font-size: 20px" th:text="${Paciente5}"></b></p>
          <a style="transform: translateY(-30px)" th:href="@{/netpulse/grafico}" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Detalles del paciente</a>

        </div>
      </div>
      <div class="bpm-display-container" id="display6" style="display: none">
        <div class="bpm-display">
          <output id="valor6spo2" class="bpm-value" title="Heart rate">00</output>
          <label style="transform: translateY(-60px)">%SpO2</label>
          <p style="transform: translateY(-30px)"><b style="color: black;font-size: 20px" th:text="${Paciente6}"></b></p>
          <a style="transform: translateY(-30px)" th:href="@{/netpulse/grafico}" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Detalles del paciente</a>

        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  Copyright © 2016 Café JavaJam<br>
  <a href="mailto:yourfirstname@yourlastname.com">yourfistname@yourlastname.com</a>
</footer>

<script>
  function openModal(name) {
    document
            .querySelector(`.modal[data-name='${name}']`)
            .classList.add("open");
  }

  function setupNav() {
    document
            .querySelector("button.menu-toggle")
            .addEventListener("click", () => {
              document
                      .querySelector("nav.menu")
                      .classList.toggle("open");
            });
    document.querySelectorAll("nav a").forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        document
                .querySelector("nav.menu")
                .classList.toggle("open");

        const modalName = event.target.getAttribute(
                "data-modal-name"
        );
        openModal(modalName);
      });
    });
  }

  function setupModals() {
    document.querySelectorAll(".modal").forEach((modal) => {
      modal.addEventListener("click", (event) => {
        if (event.originalTarget === modal) {
          modal.classList.remove("open");
        }
      });
      modal
              .querySelector("button.close")
              .addEventListener("click", () => {
                modal.classList.remove("open");
              });
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    setupNav();
    setupModals();

    // Allow setting various flags and options via the hash fragment
    const hash = location.hash.length
            ? location.hash.substring(1)
            : "";
    const flags = hash.split(",");

    // Debug mode
    if (flags.includes("debug")) {
      // Force refreshing CSS in debug mode
      const style = document.getElementById("style");
      style.setAttribute(
              "href",
              style.getAttribute("href") + "?" + Date.now()
      );

      document.querySelector(".debug-menu-item").style.display =
              "block";
    }

    // Initialize the heart rate monitor
    const bpmElement = document.getElementById("bpm-value");
    heartRateMonitor.initialize({
      videoElement: document.getElementById("camera-feed"),
      samplingCanvas: document.getElementById("sampling-canvas"),
      graphCanvas: document.getElementById("graph-canvas"),
      graphColor: getComputedStyle(
              document.documentElement
      ).getPropertyValue("--graph-color"),
      graphWidth: 6,
      onBpmChange: (bpm) => (bpmElement.innerText = bpm),
    });

    document
            .getElementById("bpm-display-container")
            .addEventListener(
                    "click",
                    heartRateMonitor.toggleMonitoring
            );

    document.documentElement.addEventListener("keyup", (event) => {
      if (event.key === " ") {
        heartRateMonitor.toggleMonitoring();
      }
    });
  });
</script>
</body>

</html>